{#
/**
 * @file
 * Default theme implementation for a hosted payment form's iframe.
 *
 * Note that many of the variables below are further explained in the "Hosted
 * Payment Form Documentation" that you can download from
 * https://support.goemerchant.com/gateway/Docs/Appendix/HostedPaymentForm.html.
 *
 * Available variables:
 * - height: The height of the iframe, in pixels. Defaults to 200.
 * - id: The value given to the id attribute. Defaults to 'firstpay-iframe'.
 *     Note that firstpay.cryptogram.js expects this ID, so don't change unless
 *     you really know what you're doing!
 * - url: The 1stpay url from which we're getting the HPF's content.
 * - transcenter: Your transaction center ID number for your 1stPayGateway
 *     account. Ultimately comes from your configuration of this gateway.
 * - processor: The ID number for a MID/TID combination on your 1stPayGateway
 *     account. Ultimately comes from your configuration of this gateway.
 * - transaction_type: Whether to use this HPF to do an Auth, Sale, Credit,
 *     Debit, etc. Drupal Commerce's workflow requires a transaction_type of
 *     "vault" in this step, because we're saving this account info on 1stpay's
 *     servers. We're handed back a vault ID. Then, in the final checkout step,
 *     we'll charge that vault ID rather than trying to charge this account's
 *     information explicitly.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'iats-hosted-payment-iframe',
  ]
%}

<iframe style="width: 100%; height: {{ height }}px;" data-manual-submit="false" id="{{ id }}" src="{{ url }}" data-transcenter-id="{{ transcenter }}" data-processor-id="{{ processor }}" data-transaction-type="{{ transaction_type }}" {{ attributes.addClass(classes) }}></iframe>
